<div class="mb-5">
  <h4>Filters</h4>
  <p><strong>Difficulty</strong></p>

  <%= link_to 'All difficulties', projects_path, class: "btn btn-outline-primary" %>

  <%= link_to 'Beginner', projects_path(difficulty: "beginner"), class: "btn btn-outline-primary" %>

  <%= link_to 'Intermediate', projects_path(difficulty: "intermediate"), class: "btn btn-outline-primary" %>

  <%= link_to 'Advanced', projects_path(difficulty: "advanced"), class: "btn btn-outline-primary" %>

  <p class="mt-3"><strong>Added</strong></p>
  <%= link_to "Most recent", projects_path(created_at: "most_recent"), class:"btn btn-outline-primary "%>
  
  <%= link_to "Oldest First", projects_path(created_at: "oldest_first"), class:"btn btn-outline-primary "%>
</div>

