<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8">
      <div class="create-project">
        <h1>Create a project</h1>
        <%= simple_form_for @project do |f| %>
          <%= f.input :title, placeholder: "i.e Blog with Ruby on Rails" %>
          <%= f.input :description, input_html: { rows: 5, cols: 40 }, placeholder: "Include main technologies and app functionality..." %>
          <div class="row">
            <div class="col">
               <%= f.input :duration, label: "Duration (in days)" %>
            </div>
            <div class="col">
              <%= f.input :difficulty, collection: Project::DIFFICULTIES %>
            </div>
          </div>
          <%= f.association :technologies, label: "Technologies: languages, frameworks etc.", as: :check_boxes, include_blank: false, include_hidden: false %>
          <div class="technology-choices">
            <% Technology.all.each do |technology| %>
              <input class="d-none grid-item" type="checkbox" value="<%= technology.id %>" name="project[technology_ids][]" id="project_technology_ids_<%= technology.id %>">
              <label class="technology-choice form-check-label collection_check_boxes" for="project_technology_ids_<%= technology.id %>"><%= technology.name %>
              <i class="fa fa-check"></i>
              </label>
            <% end %>
          </div>
          <div class="button-container">
            <%= f.button :submit, class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
 </div>
</div>
