<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8">
      <div class="create-project">
        <h1>Create a project</h1>
        <%= simple_form_for @project do |f| %>
          <%= f.input :title, placeholder: "i.e Blog with Ruby on Rails" %>
          <%= f.input :description, placeholder: "Include main technologies and app functionality..." %>
          <div class="row">
            <div class="col">
               <%= f.input :duration, label: "Duration (in days)" %>
            </div>
            <div class="col">
              <%= f.input :difficulty, collection: Project::DIFFICULTIES %>
            </div>
          </div>
          <%= f.association :technologies, label: "Technologies: languages, frameworks etc.", as: :check_boxes, input_html: {multiple: true}, include_blank: false, include_hidden: false %>
          <div class="button-container">
            <%= f.button :submit, class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
 </div>
</div>
