<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8">
      <div class="create-project">
        <h1>Editing: <%= @user.first_name %>'s Profile</h1>
        <%= simple_form_for @user do |f| %>
          <%= f.input :first_name, placeholder: @user.first_name %>
          <%= f.input :last_name, placeholder: @user.first_name %>
           <%= f.input :photo, as: :file, input_html: { class: 'd-none' }, label_html: { class: 'upload-photo' }, label: '📷 Upload a photo' %>
          <%= f.input :personal_summary, input_html: { rows: 5, cols: 40 }, placeholder: "Include you background main technologies..." %>
          <div class="row">
            <div class="col">
               <%= f.input :address, label: "Address" %>
            </div>
            <div class="col">
              <%= f.input :expertise_level, collection: %w(beginner intermediate advanced) %>
            </div>
          </div>
          <p>Technologies: i.e. languages, frameworks etc.</p>
          <div class="technology-choices">
            <% Technology.all.each do |technology| %>
              <input class="d-none grid-item" type="checkbox" value="<%= technology.id %>" name="user[technology_ids][]" id="user_technology_ids_<%= technology.id %>">
              <label class="technology-choice form-check-label collection_check_boxes" for="user_technology_ids_<%= technology.id %>"><%= technology.name %>
              <i class="fa fa-check"></i>
              </label>
            <% end %>
          </div>
          <div class="button-container">
            <%= f.button :submit, class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
 </div>
</div>
