<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8 offset-lg-1">
      <div class="create-project">
        <% if params[:action] == "edit" %>
          <h1>Editing: <%= @project.title %></h1>
        <% else %>
          <h1>Create a new project</h1>
        <% end %>
        <%= simple_form_for @project, input_html: { id: :no_border } do |f| %>
          <%= f.input :title, placeholder: "i.e Blog with Ruby on Rails", input_html: { id: :no_border } %>
          <%= f.input :description, input_html: { rows: 5, cols: 40, id: :no_border }, placeholder: "Include main technologies and app functionality..." %>
          <%= f.label "Project resources" %>
          <%= f.rich_text_area :rich_content %>
          <div class="row">
            <div class="col">
               <%= f.input :duration, label: "Duration (in days)", input_html: { id: :no_border } %>
            </div>
            <div class="col">
              <%= f.input :difficulty, collection: Project::DIFFICULTIES, input_html: { id: :no_border } %>
            </div>
          </div>
          <p>Technologies: i.e. languages, frameworks etc.</p>
          <div class="technology-choices">
            <% Technology.all.each do |technology| %>
              <input class="d-none grid-item" type="checkbox" value="<%= technology.id %>" name="project[technology_ids][]" id="project_technology_ids_<%= technology.id %>" <%= 'checked' if @project.technology_selected?(technology) %>>
              <label class="technology-choice form-check-label collection_check_boxes <%= 'active' if @project.technology_selected?(technology) %>" for="project_technology_ids_<%= technology.id %>"><%= technology.name %>
              <i class="fa fa-check"></i>
              </label>
            <% end %>
          </div>
          <div class="button-container">
            <%= f.button :submit, class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
 </div>
</div>
