<div class="container">
  <h3 class="sections-title">How it works:</h3>

  <div class="main-how-it-works">

    <div class="join-a-project mt-3 mb-3">
      <h5>EITHER...<br /> Join a project</h5>
      <p class="how-it-works-descriptions">Find coding projects to work on with like minded members</p>

        <div class="left-side d-flex">
          <div class="text">
            <p>Find a project</p>
          </div>
          <div class="png">
           <%= image_tag "landing-find-a-project.png", size: "140x140", alt: "alttext" %>
          </div>
        </div>

        <div class="left-side d-flex">
          <div class="text">
            <p>Apply to join</p>
          </div>
          <div class="png">
            <%= image_tag "landing-find-candidates.png", size: "140x140", alt: "alttext" %>
          </div>
        </div>

        <div class="left-side d-flex">
          <div class="text">
            <p>Start coding</p>
          </div>
            <div class="png">
          <%= image_tag "landing-start-coding-two.png", size: "140x140", alt: "alttext" %>
          </div>
        </div>
    </div>


    <div class="create-a-project mt-3 mb-3">
      <h5>OR<br /> Create a project</h5>
      <p class="how-it-works-descriptions">create your own project to work on with our community members</p>

      <div class="right-side d-flex">
        <div class="png">
          <%= image_tag "landing-create-a-project-two.png", size: "140x140", alt: "alttext" %>
        </div>
        <div class="text">
          <p>Create a project</p>
        </div>
      </div>

      <div class="right-side d-flex">
        <div class="png">
          <%= image_tag "landing-apply-to-join.png", size: "140x140", alt: "alttext" %>
        </div>
        <div class="text">
          <p>Find candidates</p>
        </div>
      </div>

      <div class="right-side d-flex">
        <div class="png">
          <%= image_tag "landing-start-coding-two.png", size: "140x140", alt: "alttext" %>
        </div>
        <div class="text">
          <p>Start coding</p>
        </div>
      </div>
    </div>
  </div>
</div>
