<div class="box-tagline">
    <div class="taglines p-1">
      <h3>Build</h3>
      <h4>Skills - Projects</h4>
    </div>
</div>

<h3 class="sections-title">Latest Projects</h3>

<div class="container">
  <div class="slider-container">
      <ul class="controls" id="customize-controls" aria-label="Carousel Navigation" tabindex="0">
          <li class="prev" data-controls="prev" aria-controls="customize" tabindex="-1">
              <i class="fas fa-angle-left fa-2x"></i>
          </li>
          <li class="next" data-controls="next" aria-controls="customize" tabindex="-1">
              <i class="fas fa-angle-right fa-2x"></i>
          </li>
      </ul>

        <div class="my-slider">
          <% @projects.each do |project| %>
            <div class="projects">
              <p class="landing-page-carousel-project-title"> <%= link_to project.title.capitalize, project_path(project) %> </p>
                <% if project.difficulty == "beginner" %>
                  <p class="project-side-header beginner"><i class="fas fa-chart-bar"></i>  <%= project.difficulty.capitalize %></p>
                <% elsif project.difficulty == "intermediate" %>
                  <p class="project-side-header intermediate"><i class="fas fa-chart-bar"></i>  <%= project.difficulty.capitalize %></p>
                <% else %>
                  <p class="project-side-header advanced"><i class="fas fa-chart-bar"></i>  <%= project.difficulty.capitalize %></p>
                <% end %>
            <div>
              <% project.technologies.each do |technology| %>
                <img src="<%= check_image_exists(technology) %>" alt="<%= technology.name %>-icon" class="project-tech-icon-home">
              <% end %>
            </div>

            </div>
          <% end %>
  </div>

    <div class="d-flex justify-content-center mt-5">
      <%= link_to "See all projects", projects_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
