<div class="container">
  <h3 class="sections-title">How it works:</h3>

  <div class="main-how-it-works">

    <div class="join-a-project">
      <h5>EITHER...<br /> Join a project</h5>
      <p>Find coding projects to work on with like minded members</p>

        <div class="left-side d-flex mt-3 mr-3">
          <p>Find a project</p>
          <%= image_tag "efj.jpg", size: "160x160", alt: "alttext" %>
        </div>
        <div class="left-side d-flex mt-3 mr-3">
          <p>Apply to join</p>
          <%= image_tag "efj.jpg", size: "160x160", alt: "alttext" %>
        </div>
        <div class="left-side d-flex mt-3 mr-3">
          <p>Start coding</p>
          <%= image_tag "efj.jpg", size: "160x160", alt: "alttext" %>
        </div>
    </div>

    <div class="create-a-project">
      <h5>OR<br /> Create a project</h5>
      <p>create your own project to work on with our community members</p>
      <div class="right-side d-flex mt-3 ml-3">
        <%= image_tag "efj.jpg", size: "160x160", alt: "alttext" %>
        <p>Create a project</p>

      </div>
      <div class="right-side d-flex mt-3 ml-3">
        <%= image_tag "efj.jpg", size: "160x160", alt: "alttext" %>
        <p>Find candidates</p>
      </div>
      <div class="right-side d-flex mt-3 ml-3">
        <%= image_tag "efj.jpg", size: "160x160", alt: "alttext" %>
        <p>Start coding</p>
      </div>
    </div>

  </div>
