<div class="container">
  <h3 class="sections-title">How it works:</h3>

  <div class="main-how-it-works">

    <div class="join-a-project mt-3 mb-3">
      <h5>EITHER...<br /> Join a project</h5>
      <p class="how-it-works-descriptions">Find coding projects to work on with like minded members</p>

        <div class="left-side d-flex">
          <div class="text">
            <p>Find a project</p>
          </div>
          <div>
           <%= image_tag "landing-search-engine.png", size: "100x100", alt: "alttext" %>
          </div>
        </div>

        <div class="left-side d-flex">
          <div class="text">
            <p>Apply to join</p>
          </div>
          <div>
            <%= image_tag "landing-programmer.png", size: "100x100", alt: "alttext" %>
          </div>
        </div>

        <div class="left-side d-flex">
          <div class="text">
            <p>Start coding</p>
          </div>
            <div>
          <%= image_tag "landing-code.png", size: "100x100", alt: "alttext" %>
          </div>
        </div>
    </div>

    <div class="line"></div>

    <div class="create-a-project mt-3 mb-3">
      <h5>OR<br /> Create a project</h5>
      <p class="how-it-works-descriptions">Create your own project to work on with our community members</p>

      <div class="right-side d-flex">
        <div>
          <%= image_tag "landing-create.png", size: "100x100", alt: "alttext" %>
        </div>
        <div class="text">
          <p>Create a project</p>
        </div>
      </div>

      <div class="right-side d-flex">
        <div>
          <%= image_tag "landing-developer.png", size: "100x100", alt: "alttext" %>
        </div>
        <div class="text">
          <p>Find candidates</p>
        </div>
      </div>

      <div class="right-side d-flex">
        <div>
          <%= image_tag "landing-code.png", size: "100x100", alt: "alttext" %>
        </div>
        <div class="text">
          <p>Start coding</p>
        </div>
      </div>
    </div>
  </div>
</div>
