<h1> Dashboard </h1>

<%= render 'components/modal_edit_user' %>

<div class="top-container">

  <div class="photo">
    <% if current_user.photo.attached? %>
      <div class="user-photo" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path current_user.photo.key, height: 250, width: 250, crop: :fill %>')">
    <% else %>
      <div class="user-photo" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('assets/missing-avatar-female-200x200.png')">
    <% end %>
      </div>
  </div>

  <div class="description">
    <h1><b><%= current_user.first_name  %> <%= current_user.last_name  %></b></h1>
    <div class="top-skills d-flex justify-content-between pl-3 pr-3 align-self-end">
      <div>
        <h5>What I like, what matters to me, what I can offer, what I want to achieve:</h5>
        <% if current_user.personal_summary.present? %>
            <p> <%= current_user.personal_summary %>
        <% else %>
          <p>In order to make the most out of Code Buddies remember to complete your profile</p>
        <% end %>
      </div>
      <div>

        <i class="fas fa-pencil-alt" type="button" id="button-modal" data-toggle="modal" data-target="#exampleModalLong"></i>
      </div>
    </div>
  </div>

  <div class="your-projects d-flex justify-content-between pl-3 pr-3">
    <div>
      <h5> Your Technologies:</h5>
        <% if current_user.user_technologies.present? %>
          <% current_user.user_technologies.each do |tech| %>
            <p> <%= tech %> </p>
            <% end %>
        <% else %>
          <p>In order to make the most out of Code Buddies remember to complete your profile</p>
        <% end %>
    </div>
  </div>
</div>

<div>
<div class="bottom-container">
  <div class="dashboard-projects-and-applications">
    <h4>Projects you have applied for:</h4>
      <% current_user.applications.each do |application| %>
        <p> <%= link_to application.project.title, project_path(application.project.id) %>
        with <strong> <%= link_to application.project.user.first_name, user_path(application.project.user.id) %> </strong> </p>
          <% if application.status == nil %>
            <p> <strong> Status: </strong> Pending <i class="fas fa-hourglass-half"></i></p>
          <% elsif application.status == true %>
            <p> <strong> Status: </strong> Congratulations, you've been accepted! <i class="far fa-thumbs-up"></i></p>
          <% else application.status == false %>
            <p> <strong> Status: </strong> Sorry application unsuccesful, try another project! <i class="far fa-thumbs-down"></i></p>
          <% end  %>
      <% end %>
  </div>

  <div class="dashboard-projects-and-applications">
    <div>
      <h4>Applications to your projects:</h4>
      <% @projects.each do |project| %>
        <p> <%= link_to project.title, project_path(project.id) %> </p>
          <% if project.applications.present?%>
            <% project.applications.each do |application|%>
              <% if application.status.nil?%>
                <p> <%= link_to application.user.first_name, project_path(project.id) %>
                <p class="btn btn-outline-secondary"> <%= link_to "accept", accept_path(id: project.applications.last), method: :post %> </p>
                <p class="btn btn-outline-info"> <%= link_to "reject", reject_path(id: project.applications.last), method: :post %> </p>
              <% else %>
                <p>No new applications</p>
              <% end %>
            <% end %>
            <% else %>
                <p>No new applications</p>
             <% end %>
          <% end %>
    </div>
  </div>
</div>
