<%= render 'components/modal_edit_user' %>
<div class="container mt-3">
  <div class="container mt-5 ">
  <div class="profile-name-card">
      <h2><b style="color: my-red">Welcome, <%= current_user.first_name.capitalize %></b></h2>
  </div>

  <div class="profile-card-top">
        <div class="row no-gutters">
          <div class="card-block px-2">
              <p>This is where you can manage your profile - be sure to regularly update your profile information, include your latest skills
              before you look for buddies. Monitor projects that you have applied to join, and accept any applications for projects that you have posted! </p>
          </div>
        </div>
  </div>
     </br>
    <div class="top-skills d-flex justify-content-between align-self-end">
      <div class="photo">
        <%= image_tag user_photo(@user), class: "profile-show-photo" %>
      </div>
      <div>
        <p class="project-level pt-3"><i class="fas fa-chart-bar"></i> <%= @user.expertise_level %></p>
        <p><b>Your profile:</b></p>
        <p><%= dashboard_personal_summary(current_user) %></p>
      <div class="icon-show-card">
        <% if current_user.user_technologies.present? %>
          <% @user.technologies.each do |technology| %>
            <img src="<%= check_image_exists(technology) %>" alt="<%= technology.name %>-icon" class="profile-tech-icon mt-3">
          <% end %>
        <% else %>
          <p>Add your favourite technologies to find more relevant buddies!</p>
        <% end %>
    </div>
      </div>
      <div>
        <i class="fas fa-pencil-alt pr-3 pt-3" type="button" id="button-modal" data-toggle="modal" data-target="#exampleModalLong"></i>
      </div>
    </div>
    </br>
  </div>
  <hr>
<div>

<div class="bottom-container">
  <div class="dashboard-projects-and-applications">
    <h5>Projects you have applied for:</h5>
    <br>
      <% if current_user.applications.present? %>
        <% current_user.applications.each do |application| %>
          <p> <%= link_to application.project.title.capitalize, project_path(application.project.id) %>
          with <strong> <%= link_to application.project.user.first_name, user_path(application.project.user.id) %> </strong> </p>
            <% if application.status == nil %>
              <p> <strong> Status: </strong> Pending <i class="fas fa-hourglass-half"></i></p>
            <% elsif application.status == true %>
              <p> <strong> Status: </strong> Congratulations, you've been accepted! <i class="far fa-thumbs-up"></i></p>
            <% else application.status == false %>
              <p> <strong> Status: </strong> Sorry application unsuccesful, try another project! <i class="far fa-thumbs-down"></i></p>
            <% end  %>
        <hr>
        <% end %>
      <% else %>
        <p> You haven't applied for any projects yet!! </p>
      <% end %>
  </div>

  <div class="dashboard-projects-and-applications">
    <div>
      <h5>Your offered projects & applications:</h5>
      <br>
      <% @projects.each do |project| %>
        <p> <%= link_to project.title.capitalize, project_path(project.id) %> </p>
          <% if project.applications.present?%>
            <% project.applications.each do |application|%>
              <% if application.status.nil?%>
                <p> <%= link_to application.user.first_name, project_path(project.id) %> would like to join <p>
                <p class="btn btn-outline-success"> <%= link_to "accept", accept_path(id: project.applications.last), method: :post, class: "a-btn-accept" %> </p>
                <p class="btn btn-outline-primary"> <%= link_to "reject", reject_path(id: project.applications.last), method: :post, class: "a-btn-reject" %> </p>
              <% else %>
                <p>No new applications</p>
              <% end %>
              <hr>
            <% end %>
            <% else %>
                <p>No new applications</p>
             <% end %>
          <% end %>
    </div>
</div>

</div>
