<div class="col-xs-12 col-lg-9 mt-3">
  <% @project_reviews.each do |review| %>
    <div class="review-card">
      <div class="review-avatar-background-color">
        <p><%= user_initials(review) %></p>
      </div>
      <div class="review-details">
        <span><%= user_full_name(review) %></span>
        <p><%= icon('fas', 'star', class:'review-star') * review.rating %> on <%= review.created_at.strftime("%d-%m-%Y") %> </p>
      </div>
    </div>
    <div class="review-content">
      <p><%= review.content %></p>
    </div>
    <hr>
  <% end %>
</div>
