<div class="row mt-5">
  <div class="col">
    <% if @related_projects.count > 0 %>
      <h5 class="related-projects-header">Related projects</h5>
      <% @related_projects.first(3).each do |project| %>
        <%= link_to project_path(project), class: "related-project-title-link" do %>
          <div class="related-project-card mt-3">
            <div class="first-section">
              <h5> <%= link_to project.title, project_path(project) %></h5>
              <p class="project-level"><i class="fas fa-chart-bar"></i>: <%= project.difficulty.capitalize %></p>
            </div>
            <p class="project-description"><%= project.description.truncate(100, separator:' ') %></p>
            <% project.technologies.each do |technology| %>
              <img src="<%= check_image_exists(technology) %>" alt="<%= technology.name %>-icon" class="tech-icon mt-2">
            <% end %>
          </div>
        <% end %>
      <% end %>
      <% else %>
        <h5 class="related-projects-header">No related projects found</h5>
    <% end %>
  </div>
  </div>
