<div class="container mt-5">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="chat-header"><h4><%= @project.title %></h4></div>

        <div id="messages" data-chatroom-id="<%= @chatroom.id %>">
          <% @chatroom.messages.each do |message| %>
            <%= render 'messages/message', message:message, user_is_messages_author: message.user == current_user  %>
          <% end %>
        </div>

        <div id="create-message">
          <%= simple_form_for [ @project, @chatroom, Message.new], remote: true, html: {autocomplete: "off" }  do |f| %>
            <%= f.input :content, label: false, placeholder: "Message others at #{@project.title}" %>
            <%= f.button :submit, value="Send Message", class: "btn-outline-primary", id: "message-btn" %>
          <% end %>
        </div>

    </div>
  </div>
</div>

<% content_for :after_js do %>
  <script>
    scrollLastMessageIntoView();
  </script>
<% end %>