<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-10 offset-md-1 col-lg-9 offset-lg-1">
    <h1 class="mt-3">Find buddies</h1>
    <%= render 'components/user_search' %>
    <% @users.each do |user| %>
      <% if user.photo.attached? %>
        <div class="card-product mt-3">
          <%= cl_image_tag  user.photo.key, class:"cocktail-image", crop: :fill %>
          <div class="card-product-infos">
            <h2 class="mt-3"><strong><%= link_to "#{user.first_name}  #{user.last_name}" , user_path(user.id) %></strong></h2>
            <p><%= render_personal_summary(user) %></p>
          </div>
        </div>
        <% else %>
        <div class="card-product mt-3">
          <%= image_tag('missing-avatar-female-200x200.png') %>
          <div class="card-product-infos">
            <h2 class="mt-3"><strong><%= link_to "#{user.first_name}  #{user.last_name}" , user_path(user.id) %></strong></h2>
            <p><%= render_personal_summary(user) %></p>
          </div>
        </div>
      <% end %>
    <%  end %>
    </div>
  </div>
</div>
