<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-10 offset-md-1 col-lg-9 offset-lg-1">
      <h1 class="project-title mt-4">Buddies Community</h1>
      <p class="buddies-page-intro">Welcome to the Buddies Community! Use this space to check out other users, their skills and availability and don't hesitate to reach out to them and get you project on the road!</p>
      <%= render 'components/user_search' %>
        <div class="grid-container">
          <% @users.each do |user| %>
            <% if user.photo.attached? %>
              <div class="card-product mt-3">
                <%= cl_image_tag  user.photo.key, class:"buddy-image", crop: :fill %>
            <% else %>
              <div class="card-product mt-3">
                <%= image_tag('missing-avatar-female-200x200.png') %>
            <% end %>
              <div class="card-product-infos">
                <div class="set-height-user-index">
                  <h5 class="mt-3"><%= "#{user.first_name.capitalize}  #{user.last_name.capitalize}" %></h5>
                  <p><%= render_personal_summary(user) %></p>
                </div>
                <%= link_to "See Profile", user_path(user.id), class: "nav-link" %>
              </div>
            </div>
          <% end %>
        </div>
    </div><!--end col-->
  </div>
</div>