<div class="container mt-5">
<div class="row">
  <div class="col-xs-12 col-md-10 offset-md-1 col-lg-9 offset-lg-1">
    <div class="user-profile-card">
    <div class="user-profile-card-first-section">
      <%= image_tag user_photo(@user), class: "user-profile-card-photo" %>
      <div class="header-and-email">
        <h1><%= @user.first_name.capitalize %> <%= @user.last_name.capitalize %></h1>
        <% if @user.address.present? %>
          <p><i class="fas fa-map-marker-alt"></i> <%= @user.address.capitalize %> </p>
        <% else %>
          <p><i class="fas fa-map-marker-alt"></i> Location unknown </p>
        <% end %>
      </div><!--end header and email-->
    </div><!--end card-first-section-->
    <div class="user-profile-card-personal-summary">
      <% if @user.personal_summary.present? %>
        <p><%= @user.personal_summary %></p>
      <% else %>
        <p>Personal Summary unavailable</p>
      <% end %>
    </div><!--end personal-summary-->
    <div class="row mt-4">
      <div class="col-4 offset-1">
        <p><i class="fas fa-user-friends"></i> <%= available_for_collaboration(@user) %></p>
      </div>
      <div class="col">
        <p><i class="fas fa-envelope"></i> <%= @user.email%></p>
      </div>
    </div>
     <div class="row">
      <div class="col-4 offset-1 user-profile-technologies-container">
        <% if @user.technologies.present? %>
          <%= render 'components/user_technology_icon' %>
        <% else %>
          <p> Technologies unknown </p>
        <% end %>
      </div>
      <div class="col">
        <% if @user.expertise_level.present? %>
          <p><i class="fas fa-chart-bar"></i> <%= @user.expertise_level.capitalize %></p>
        <% else %>
          <p><i class="fas fa-chart-bar"></i> Expertise level unavailable</p>
        <% end %>
      </div>
    </div><!--row-->
  </div><!--end profile card-->
</div><!--end container-->
  </div>
</div>
  