<div class="container mt-5">
  <div class="background">
    <div class="border">
      <div class="user-show-card-top d-flex">
        <div class="photo">
          <%= image_tag user_photo(@user), class: "user-show-photo" %>
        </div>

          <div class="user-description d-flex align-items-end">
            <div>
              <h1><%= @user.first_name.capitalize %> <%= @user.last_name.capitalize %> </h1>
              <p><%= available_for_collaboration(@user) %></p>

              <% if @user.expertise_level.present? %>
                <p> <%= @user.expertise_level.capitalize %> </p>
              <% else %>
                <p> Expertise level: <%= @user.first_name.capitalize %> hasn't completed this section of his profile yet</p>
              <% end %>
              <% if @user.address.present? %>
                <p><i class="fas fa-map-marker-alt"></i> <%= @user.address.capitalize %> </p>
              <% else %>
                <p><i class="fas fa-map-marker-alt"></i> Location unknown </p>
                <% end %>
              <p> <i class="far fa-envelope"></i> <%= @user.email%> </p>
            </div>
           <div class="icons">
            <% if @user.technologies.present? %>
              <%= render 'components/user_technology_icon' %>
            <% else %>
              <p> Technologies unknown </p>
              <% end %>
           </div>
        </div>
      </div>
      <div class="user-show-card">
        <% if @user.personal_summary.present? %>
          <p><%= @user.personal_summary %></p>
        <% else %>
          <p> Personal summary: <%= @user.first_name.capitalize %> hasn't completed this section of his profile yet</p>
        <% end %>
      </div>
    </div>
  </div>
</div>
