<div class="container mt-5">

  <div class="user-show-card-top d-flex">

    <div class="photo">
      <%= image_tag user_photo(@user), class: "user-show-photo" %>
    </div>
    <div class="user-description">
      <h1><%= @user.first_name %> <%= @user.last_name %> <%= link_to '', edit_user_path, class: "fas fa-user-edit" %> </h1>
      <p> <%= @user.expertise_level %> </p>
      <p><i class="fas fa-map-marker-alt"></i> <%= @user.address %> </p>
      <p> <i class="far fa-envelope"></i> <%= @user.email%> </p>
    </div>

  </div>



  </br>
  <div class="user-show-card pt-3">
    <div>
      <%= render 'components/user_technology_icon' %>
    </div>

    <p><%= @user.personal_summary %></p>
    </br>
    <%= link_to 'Back', :back, class: "btn btn-outline-primary" %>
  </div>
</div>
