<div class="container">
    <h1><%= @user.first_name %> <%= @user.last_name %> </h1>
    <p> <%= @user.personal_summary %></p>
    <p>Experienced in</p>
    <ul>
      <% @user.technologies.each do |technology| %>
        <li><%= technology.name %></li>
      <% end %>
    </ul>
    <p>Email <%= @user.first_name %>: <%= @user.email%></p>
    <%# <%= cl_image_tag @user.photo.key, height: 300, width: 400, crop: :fill %>
    <%= link_to 'Back', :back, class: "btn btn-primary" %>
</div>
