<div class="container">
    <h1><%= @user.first_name %> <%= @user.last_name %> </h1>
    <p> <%= @user.personal_summary %></p>
    <%= link_to 'Back', :back, class: "btn btn-primary" %>
    <p><%= @user.email  %></p>
</div>
