<%= render 'components/homepage_banner' %>
<%= render 'components/homepage_community_description' %>
<%= render 'components/homepage_how_it_works' %>
<%= render 'components/homepage_latest_projects' %>
<%= render 'components/homepage_find_buddies' %>


<div class="container">

</div>
