
<div class="banner-image">
  <div class="container">
    <div class="align-banner">
      <div class="banner-text">
        <h1>The Community</h1>
        <p> Code Buddies is a community made of tech enthusiasts who know how important it is to collaborate, share opinions and experiences. We believe that nothing great comes from a single individual, we know that there is no I in team (yes, we also know that there is u in bug, but that's for another day ;) ) and that by collaborating on a project great things happen. This is the Landing Page - Path is : root_path</p>
      </div>  <!-- banner-text -->
    </div> <!-- align-banner -->
  </div>  <!-- container -->
</div>


<div class="container">

  <%= link_to "Projects", projects_path %>

  <div class="projects-list">
      <% @projects.each do |project| %>
        <div class="projects">
          <div class="project-title">
            <p class="larger-text"><%= project.id %> : <%= link_to project.title, project_path(project) %> </p>
            <div class="project-details">
              <p class="grey-text"><%= link_to project.user.first_name, user_path(project.user) %> </p>
                <% project.technologies.each do |technology| %>
                  <p> <%= technology.name %> </p>
                <% end %>
            </div>
          </div>
          <div class="project-description">
            <p><%= project.description %></p>
          </div>
        </div>
      <% end %>
  </div>
</div>
