<div class="container mt-3">
<%= render 'components/difficulty_filter' %>
<%= render 'components/project_search' %>
<% if @projects.count > 0 %>
  <% if params[:query].present? %>
    <p class="mt-3">We found <strong><%= pluralize(@projects.count, "project") %></strong> with <strong>"<%= params[:query] %>"</strong> in the title</p>
  <% end %>
  <%= render 'components/project_loop' %>
  <% else %>
    <h4 class="mt-4">No matches found for "<%= params[:query] %>"</h4>
<% end %>
</div>