<div class="container mt-5">
  <h1><%= @project.title %></h1>
  <p>Led by: <%= link_to @project.user.first_name, user_path(@project.user.id) %></p>
  <p><%= @project.description %></p>
  <p>Estimated duration: <%= @project.duration %> days</p>
  <h5>Technologies involved</h5>
  <ul>
    <% @project.technologies.each do |technology| %>
      <li><%= technology.name %> </li>
    <% end %>
  </ul>
  <%= link_to "Apply", new_project_application_path(@project.id) %>
  <br>
  <%= link_to "Edit Project", edit_project_path(@project.id)%>
  <hr>
  <%= link_to 'Back', :back, class: "btn btn-primary" %>
</div>
