<% content_for :meta_title, "#{@project.title} is on #{DEFAULT_META["meta_project_name"]}" %>
<% content_for :meta_description, @project.description %>
<div class="container mt-3">


  <div class="row">
    <div class="col-xs-12 col-md-10 col-lg-10 offset-lg-1">
      <div class="title-container">
        <h1 class="project-title mt-3"><%= @project.title %></h1>
        <%# show controls if current user is project owner %>
        <%= render 'components/show_controls' %>
      </div>
      <% if user_signed_in? && current_user.id != @project.user.id %>
        <p><i class="fa fa-user"></i> Led by: <%= link_to "#{@project.user.first_name} #{@project.user.last_name}", user_path(@project.user.id) %></p>
      <% end %>
      </div>
    </div><!--end row-->


  <div class="row mt-3">
    <div class="col-xs-12 col-md-10 col-lg-10 offset-lg-1">
      <h5 class="project-main-header">About the Project</h5>
      <%= render 'components/show_project_status' %>
      <p><%= @project.description %></p>
    </div>
  </div><!--end row-->




  <div class="row">



      <div class="col-sm-3 offset-lg-1 ">
        <h6 class="project-side-header"><i class="fa fa-calendar" aria-hidden="true"></i> Estimated duration</h6>
        <p><%= @project.duration %> days</p>
      </div>

      <div class="col-sm-3">
        <h6 class="project-side-header"><i class="fas fa-chart-bar"></i> Difficulty level</h6>
        <p> <%= @project.difficulty.capitalize %> </p>
      </div>


      <div class="col-sm-3">
      <h6 class="project-side-header"><i class="fa fa-link" aria-hidden="true"></i> Project resources</h6>
        <% if @project.rich_content.body %>
          <p><%= @project.rich_content %></p>
        <% else %>
          <p>None posted so far</p>
        <% end %>
    </div>

   
    
  </div><!--end row-->
 




 
  <div class="row">
    <div class="col-4">
      <h5 class="mt-4 project-main-header">Technologies involved</h5>
        <%= render 'components/technology_icon' %>
    </div>
    <div class="col-4">
      <h5 class="mt-4 project-main-header">Questions?</h5>
      <%= link_to 'Chat  with the project owner', project_chatroom_path(@project) %> to find out more.
    </div>
  </div>

  <div class="mt-5">
    <%# show reviews and related projects when user signed out %>
    <%= render 'components/show_related_projects' %>
    <% if @project.status == true %>
      <%= render 'components/show_reviews' %>
    <% end %>
    
    <% if user_signed_in? %>
      <% unless current_user.id == @project.user.id %>

      <% if @applications&.pending?  %>
        <p>Awaiting response</p>

      <% elsif @applications&.rejected?  %>
        <p>I'm sorry you can't re-apply to this project</p>

        <% elsif @applications&.status.blank? && @project.status == false %>
          <%= link_to "Apply", new_project_application_path(@project.id), class: "btn btn-primary apply-button" %>

        <% elsif @applications&.accepted? %>
          <p><%= link_to 'Chat with the project owner', project_chatroom_path(@project) %> to find out more.</p>
        <% end %>
      <% else %>
        <h5 class="project-main-header">Your project buddies</h5>
        <% if @project.applications.any? %>
          <ul>
            <%= render_users(@project.applications) %>
          </ul>
        <% else %>
          <p>This project hasn't received any applications yet</p>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
